body {
  background-color: #6d597a;
  justify-content: center;
}

h1 {
  font-family: "Hahmlet", serif;
  text-align: center;
  font-size: 10rem;
  color: #eaac8b;
  margin: 1rem;
  text-shadow: 5px 5px #fcf6bd, 10px 10px #b56576, 15px 15px #355070;
}

h2 {
  text-align: center;
  color: #355070;
  font-size: 2rem;
}
.gameBoard {
  background-color: #b56576;
  height: 40rem;
  width: 40rem;
  margin: auto;
  margin-top: 0rem;
  padding: 0.5rem;
  border: 0.3rem solid #fcf6bd;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.square {
  text-align: center;
  font-family: "Hahmlet", serif;
  background-color: #eaac8b;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #355070;
  font-size: 7rem;
  box-shadow: 5px 5px 10px rgba(48, 48, 48, 0.418);
}

.square:hover {
  cursor: pointer;
}

.top-left {
  border-top-left-radius: 0.5rem;
}
.top-right {
  border-top-right-radius: 0.5rem;
}
.bottom-left {
  border-bottom-left-radius: 0.5rem;
}
.bottom-right {
  border-bottom-right-radius: 0.5rem;
}

.start-button {
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  background-color: #eaac8b;
  color: #355070;
  font-family: "Hahmlet", serif;
  width: 10rem;
  height: 2.2rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: #fcf6bd solid 0.3rem;
  border-radius: 0.5rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
