body {
  background-color: #6d597a;
  justify-content: center;
}

h1 {
  font-family: "Hahmlet", serif;
  text-align: center;
  font-size: 10rem;
  color: #eaac8b;
  margin: 1rem;
  text-shadow: 5px 5px #fcf6bd, 10px 10px #b56576, 15px 15px #355070;
}

h2 {
  text-align: center;
  color: #355070;
  font-size: 2rem;
}
.gameBoard {
  background-color: #b56576;
  height: 40rem;
  width: 40rem;
  margin: auto;
  margin-top: 0rem;
  padding: 0.5rem;
  border: 0.3rem solid #fcf6bd;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.square {
  text-align: center;
  font-family: "Hahmlet", serif;
  background-color: #eaac8b;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #355070;
  font-size: 7rem;
  box-shadow: 5px 5px 10px rgba(48, 48, 48, 0.418);
}

.square-hover:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px #fcf6bd7c;
}

.top-left {
  border-top-left-radius: 0.5rem;
}
.top-right {
  border-top-right-radius: 0.5rem;
}
.bottom-left {
  border-bottom-left-radius: 0.5rem;
}
.bottom-right {
  border-bottom-right-radius: 0.5rem;
}

.newGame {
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  background-color: #eaac8b;
  color: #355070;
  font-family: "Hahmlet", serif;
  width: 10rem;
  height: 2.2rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: #fcf6bd solid 0.3rem;
  border-radius: 0.5rem;
}
.newGame:hover {
  cursor: pointer;
}

.popUp {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popUpContent {
  background-color: #eaac8b;
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  padding: 20px;
  gap: 0.3rem;
  color: #355070;
  font-family: "Hahmlet", serif;
  width: 20rem;
  border: #fcf6bd solid 0.3rem;
  border-radius: 0.5rem;
}

input {
  border: 1px solid #d89f81;
  background-color: #f7cbb3;
  border-radius: 3px;
}

.inputContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-row: auto;
  margin-top: 0.7rem;
}

.startGame {
  text-align: center;
  background-color: #355070;
  color: #fcf6bd;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
}
